include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

graft mrQA/tests
prune mrQA/tests/htmlcov
prune mrQA/tests/.hypothesis
graft mrQA/scripts
graft mrQA/resources
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
include versioneer.py
include mrQA/_version.py

include mrQA/layout.html
