<!DOCTYPE html>
<html lang="en">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>  </title>
</head>
<body>

<table class="tg">
<thead>
  <tr>
    <th class="tg-c3ow" colspan="4">Report Documentation Page</th>
    <th class="tg-0pky" colspan="2">No. </th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky" colspan="2">1. REPORT DATE</td>
    <td class="tg-0pky" colspan="2">2. REPORT TYPE</td>
    <td class="tg-0pky" colspan="2">3.</td>
  </tr>
  <tr>
    <td class="tg-0lax" colspan="4" rowspan="3">4. PROJECT TITLE</td>
    <td class="tg-0lax" colspan="2">5a. Project Properties</td>
  </tr>
  <tr>
    <td class="tg-0pky" colspan="2">5b. Project Properties</td>
  </tr>
  <tr>
    <td class="tg-0lax" colspan="2">5c. Project Properties</td>
  </tr>
  <tr>
    <td class="tg-0lax" colspan="4" rowspan="2">6. PERFORMING ORGANIZATION</td>
    <td class="tg-0lax" colspan="2">7. Org. Properties</td>
  </tr>
  <tr>
    <td class="tg-0lax" colspan="2">8. Org. Properties</td>
  </tr>
  <tr>
    <td class="tg-0lax" colspan="4">9. SPONSORING AGENCY</td>
    <td class="tg-0lax" colspan="2">10. Sponsor Properties</td>
  </tr>
  <tr>
    <td class="tg-0lax" colspan="4">11. DISTRIBUTION/AVAILABILITY STATEMENT</td>
    <td class="tg-0lax" colspan="2"></td>
  </tr>
  <tr>
    <td class="tg-0lax" colspan="4">12. SUPPLEMENTARY NOTES</td>
    <td class="tg-0lax" colspan="2"></td>
  </tr>
  <tr>
    <td class="tg-0lax" colspan="6">13. ADDITIONAL NOTE</td>
  </tr>
  <tr>
    <td class="tg-0lax" colspan="6">14. ADDITIONAL NOTE</td>
  </tr>
  <tr>
    <td class="tg-0lax" colspan="6">15. ADDITIONAL NOTE</td>
  </tr>
  <tr>
    <td class="tg-0pky" colspan="3">16. SECURITY CLASSIFICATION OF</td>
    <td class="tg-0pky" rowspan="2">17. LIMITATIONS</td>
    <td class="tg-0pky" rowspan="2">18. NUMBER OF PAGES</td>
    <td class="tg-0lax" rowspan="2">19. CONTACT </td>
  </tr>
  <tr>
    <td class="tg-0lax">16a. REPORT</td>
    <td class="tg-0lax">16b. THIS PAGE</td>
    <td class="tg-0lax">16c. PROJECT

    </td>
  </tr>
</tbody>
</table>

<table>

<table class="tg">
<thead>
  <tr>
    <th class="tg-c3ow" colspan="4">Good Sessions</th>
  </tr>
</thead>
<tbody>

  <tr>
      <td class="tg-0pky" colspan="4">/media/harsh/Baahya/MRI_Datasets/sinhah-20220520_201328/127907/scans/10-2D_GRE-MT/resources/DICOM</td>
  </tr>

  <tr>
      <td class="tg-0pky" colspan="4">/media/harsh/Baahya/MRI_Datasets/sinhah-20220520_201328/127907/scans/11-DTI_RL/resources/DICOM</td>
  </tr>

  <tr>
      <td class="tg-0pky" colspan="4">/media/harsh/Baahya/MRI_Datasets/sinhah-20220520_201328/127907/scans/12-DTI_LR/resources/DICOM</td>
  </tr>

  <tr>
      <td class="tg-0pky" colspan="4">/media/harsh/Baahya/MRI_Datasets/sinhah-20220520_201328/127907/scans/13-3D_T2_FLAIR/resources/DICOM</td>
  </tr>

  <tr>
      <td class="tg-0pky" colspan="4">/media/harsh/Baahya/MRI_Datasets/sinhah-20220520_201328/127907/scans/3-3D_T1-weighted/resources/DICOM</td>
  </tr>

  <tr>
      <td class="tg-0pky" colspan="4">/media/harsh/Baahya/MRI_Datasets/sinhah-20220520_201328/127907/scans/4-rsfMRI_RL/resources/DICOM</td>
  </tr>

  <tr>
      <td class="tg-0pky" colspan="4">/media/harsh/Baahya/MRI_Datasets/sinhah-20220520_201328/127907/scans/5-rsfMRI_LR/resources/DICOM</td>
  </tr>

  <tr>
      <td class="tg-0pky" colspan="4">/media/harsh/Baahya/MRI_Datasets/sinhah-20220520_201328/127907/scans/6-2D_GRE-MT/resources/DICOM</td>
  </tr>

  <tr>
      <td class="tg-0pky" colspan="4">/media/harsh/Baahya/MRI_Datasets/sinhah-20220520_201328/127907/scans/7-2D_GRE-MT/resources/DICOM</td>
  </tr>

  <tr>
      <td class="tg-0pky" colspan="4">/media/harsh/Baahya/MRI_Datasets/sinhah-20220520_201328/127907/scans/8-2D_GRE-MT/resources/DICOM</td>
  </tr>

  <tr>
      <td class="tg-0pky" colspan="4">/media/harsh/Baahya/MRI_Datasets/sinhah-20220520_201328/127907/scans/9-2D_GRE-MT/resources/DICOM</td>
  </tr>


  <tr>
      <td class="tg-0pky" colspan="4">/media/harsh/Baahya/MRI_Datasets/sinhah-20220520_201328/127907/scans/1-localizer___64_channel_ND/resources/DICOM</td>
  </tr>

  <tr>
      <td class="tg-0pky" colspan="4">/media/harsh/Baahya/MRI_Datasets/sinhah-20220520_201328/127907/scans/2-localizer___64_channel/resources/DICOM</td>
  </tr>

  <tr>
      <td class="tg-0pky" colspan="4">/media/harsh/Baahya/MRI_Datasets/sinhah-20220520_201328/127907/scans/99-PhoenixZIPReport/resources/DICOM</td>
  </tr>


</table>
</body>
</html>