<!DOCTYPE html>
<html lang="en">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>  </title>
</head>
<body>

<table class="tg" id="documentation">
<thead>
  <tr>
    <th class="tg-c3ow" colspan="4">Report Documentation Page</th>
    <th class="tg-0pky" colspan="2">No. </th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky" colspan="2">1. REPORT DATE</td>
    <td class="tg-0pky" colspan="2">2. REPORT TYPE</td>
    <td class="tg-0pky" colspan="2">3.</td>
  </tr>
  <tr>
    <td class="tg-0lax" colspan="4" rowspan="3">4. PROJECT TITLE</td>
    <td class="tg-0lax" colspan="2">5a. Project Properties</td>
  </tr>
  <tr>
    <td class="tg-0pky" colspan="2">5b. Project Properties</td>
  </tr>
  <tr>
    <td class="tg-0lax" colspan="2">5c. Project Properties</td>
  </tr>
  <tr>
    <td class="tg-0lax" colspan="4" rowspan="2">6. PERFORMING ORGANIZATION</td>
    <td class="tg-0lax" colspan="2">7. Org. Properties</td>
  </tr>
  <tr>
    <td class="tg-0lax" colspan="2">8. Org. Properties</td>
  </tr>
  <tr>
    <td class="tg-0lax" colspan="4">9. SPONSORING AGENCY</td>
    <td class="tg-0lax" colspan="2">10. Sponsor Properties</td>
  </tr>
  <tr>
    <td class="tg-0lax" colspan="4">11. DISTRIBUTION/AVAILABILITY STATEMENT</td>
    <td class="tg-0lax" colspan="2"></td>
  </tr>
  <tr>
    <td class="tg-0lax" colspan="4">12. SUPPLEMENTARY NOTES</td>
    <td class="tg-0lax" colspan="2"></td>
  </tr>
  <tr>
    <td class="tg-0lax" colspan="6">13. ADDITIONAL NOTE</td>
  </tr>
  <tr>
    <td class="tg-0lax" colspan="6">14. ADDITIONAL NOTE</td>
  </tr>
  <tr>
    <td class="tg-0lax" colspan="6">15. ADDITIONAL NOTE</td>
  </tr>
  <tr>
    <td class="tg-0pky" colspan="3">16. SECURITY CLASSIFICATION OF</td>
    <td class="tg-0pky" rowspan="2">17. LIMITATIONS</td>
    <td class="tg-0pky" rowspan="2">18. NUMBER OF PAGES</td>
    <td class="tg-0lax" rowspan="2">19. CONTACT </td>
  </tr>
  <tr>
    <td class="tg-0lax">16a. REPORT</td>
    <td class="tg-0lax">16b. THIS PAGE</td>
    <td class="tg-0lax">16c. PROJECT

    </td>
  </tr>
</tbody>
</table>


<table class="tg" id="good_sessions">
<thead>
  <tr>
    <th class="tg-c3ow" colspan="4">Good Sessions</th>
      
        <th class="tg-0pky" colspan="2">manufacturer</th>
      
        <th class="tg-0pky" colspan="2">organ</th>
      
        <th class="tg-0pky" colspan="2">te</th>
      
        <th class="tg-0pky" colspan="2">tr</th>
      
        <th class="tg-0pky" colspan="2">b0</th>
      
        <th class="tg-0pky" colspan="2">flip_angle</th>
      
        <th class="tg-0pky" colspan="2">bwpx</th>
      
        <th class="tg-0pky" colspan="2">echo_train_length</th>
      
        <th class="tg-0pky" colspan="2">comments</th>
      
        <th class="tg-0pky" colspan="2">scanning_sequence</th>
      
        <th class="tg-0pky" colspan="2">sequence_variant</th>
      
        <th class="tg-0pky" colspan="2">mr_acquisition_type</th>
      
        <th class="tg-0pky" colspan="2">phase_encoding_lines</th>
      
        <th class="tg-0pky" colspan="2">bwp_phase_encode</th>
      
        <th class="tg-0pky" colspan="2">phase_encoding_direction</th>
      
        <th class="tg-0pky" colspan="2">multi_band_comment</th>
      
        <th class="tg-0pky" colspan="2">slice_order</th>
      
        <th class="tg-0pky" colspan="2">effective_echo_spacing</th>
      
        <th class="tg-0pky" colspan="2">ipat</th>
      
        <th class="tg-0pky" colspan="2">shim_method</th>
      
        <th class="tg-0pky" colspan="2">is3d</th>
      
  </tr>
</thead>
<tbody>

  <tr>
      <td class="tg-0pky" colspan="4">/media/harsh/Baahya/MRI_Datasets/sinhah-20220520_201328/127907/scans/10-2D_GRE-MT/resources/DICOM</td>
      
        <td class="tg-0pky" colspan="2">SIEMENS</td>
      
        <td class="tg-0pky" colspan="2">BRAIN</td>
      
        <td class="tg-0pky" colspan="2">3.73</td>
      
        <td class="tg-0pky" colspan="2">465</td>
      
        <td class="tg-0pky" colspan="2">3</td>
      
        <td class="tg-0pky" colspan="2">40</td>
      
        <td class="tg-0pky" colspan="2">350</td>
      
        <td class="tg-0pky" colspan="2">1</td>
      
        <td class="tg-0pky" colspan="2">None</td>
      
        <td class="tg-0pky" colspan="2">GR</td>
      
        <td class="tg-0pky" colspan="2">['MTC', 'SS']</td>
      
        <td class="tg-0pky" colspan="2">2D</td>
      
        <td class="tg-0pky" colspan="2">448</td>
      
        <td class="tg-0pky" colspan="2">None</td>
      
        <td class="tg-0pky" colspan="2">Left-Right</td>
      
        <td class="tg-0pky" colspan="2">None</td>
      
        <td class="tg-0pky" colspan="2">interleaved</td>
      
        <td class="tg-0pky" colspan="2">None</td>
      
        <td class="tg-0pky" colspan="2">2</td>
      
        <td class="tg-0pky" colspan="2">2</td>
      
        <td class="tg-0pky" colspan="2">False</td>
      
  </tr>

  <tr>
      <td class="tg-0pky" colspan="4">/media/harsh/Baahya/MRI_Datasets/sinhah-20220520_201328/127907/scans/11-DTI_RL/resources/DICOM</td>
      
        <td class="tg-0pky" colspan="2">SIEMENS</td>
      
        <td class="tg-0pky" colspan="2">BRAIN</td>
      
        <td class="tg-0pky" colspan="2">80</td>
      
        <td class="tg-0pky" colspan="2">10000</td>
      
        <td class="tg-0pky" colspan="2">3</td>
      
        <td class="tg-0pky" colspan="2">90</td>
      
        <td class="tg-0pky" colspan="2">1955</td>
      
        <td class="tg-0pky" colspan="2">63</td>
      
        <td class="tg-0pky" colspan="2">None</td>
      
        <td class="tg-0pky" colspan="2">EP</td>
      
        <td class="tg-0pky" colspan="2">['SK', 'SP']</td>
      
        <td class="tg-0pky" colspan="2">2D</td>
      
        <td class="tg-0pky" colspan="2">127</td>
      
        <td class="tg-0pky" colspan="2">21.404</td>
      
        <td class="tg-0pky" colspan="2">Left-Right</td>
      
        <td class="tg-0pky" colspan="2">None</td>
      
        <td class="tg-0pky" colspan="2">interleaved</td>
      
        <td class="tg-0pky" colspan="2">0.36787589927263575</td>
      
        <td class="tg-0pky" colspan="2">2</td>
      
        <td class="tg-0pky" colspan="2">4</td>
      
        <td class="tg-0pky" colspan="2">False</td>
      
  </tr>

  <tr>
      <td class="tg-0pky" colspan="4">/media/harsh/Baahya/MRI_Datasets/sinhah-20220520_201328/127907/scans/12-DTI_LR/resources/DICOM</td>
      
        <td class="tg-0pky" colspan="2">SIEMENS</td>
      
        <td class="tg-0pky" colspan="2">BRAIN</td>
      
        <td class="tg-0pky" colspan="2">80</td>
      
        <td class="tg-0pky" colspan="2">10000</td>
      
        <td class="tg-0pky" colspan="2">3</td>
      
        <td class="tg-0pky" colspan="2">90</td>
      
        <td class="tg-0pky" colspan="2">1955</td>
      
        <td class="tg-0pky" colspan="2">63</td>
      
        <td class="tg-0pky" colspan="2">None</td>
      
        <td class="tg-0pky" colspan="2">EP</td>
      
        <td class="tg-0pky" colspan="2">['SK', 'SP']</td>
      
        <td class="tg-0pky" colspan="2">2D</td>
      
        <td class="tg-0pky" colspan="2">127</td>
      
        <td class="tg-0pky" colspan="2">21.404</td>
      
        <td class="tg-0pky" colspan="2">Right-Left</td>
      
        <td class="tg-0pky" colspan="2">None</td>
      
        <td class="tg-0pky" colspan="2">interleaved</td>
      
        <td class="tg-0pky" colspan="2">0.36787589927263575</td>
      
        <td class="tg-0pky" colspan="2">2</td>
      
        <td class="tg-0pky" colspan="2">4</td>
      
        <td class="tg-0pky" colspan="2">False</td>
      
  </tr>

  <tr>
      <td class="tg-0pky" colspan="4">/media/harsh/Baahya/MRI_Datasets/sinhah-20220520_201328/127907/scans/13-3D_T2_FLAIR/resources/DICOM</td>
      
        <td class="tg-0pky" colspan="2">SIEMENS</td>
      
        <td class="tg-0pky" colspan="2">BRAIN</td>
      
        <td class="tg-0pky" colspan="2">439</td>
      
        <td class="tg-0pky" colspan="2">4800</td>
      
        <td class="tg-0pky" colspan="2">3</td>
      
        <td class="tg-0pky" colspan="2">120</td>
      
        <td class="tg-0pky" colspan="2">750</td>
      
        <td class="tg-0pky" colspan="2">284</td>
      
        <td class="tg-0pky" colspan="2">None</td>
      
        <td class="tg-0pky" colspan="2">['SE', 'IR']</td>
      
        <td class="tg-0pky" colspan="2">['SK', 'SP', 'MP']</td>
      
        <td class="tg-0pky" colspan="2">3D</td>
      
        <td class="tg-0pky" colspan="2">229</td>
      
        <td class="tg-0pky" colspan="2">None</td>
      
        <td class="tg-0pky" colspan="2">Left-Right</td>
      
        <td class="tg-0pky" colspan="2">None</td>
      
        <td class="tg-0pky" colspan="2">sequential</td>
      
        <td class="tg-0pky" colspan="2">None</td>
      
        <td class="tg-0pky" colspan="2">2</td>
      
        <td class="tg-0pky" colspan="2">2</td>
      
        <td class="tg-0pky" colspan="2">True</td>
      
  </tr>

  <tr>
      <td class="tg-0pky" colspan="4">/media/harsh/Baahya/MRI_Datasets/sinhah-20220520_201328/127907/scans/3-3D_T1-weighted/resources/DICOM</td>
      
        <td class="tg-0pky" colspan="2">SIEMENS</td>
      
        <td class="tg-0pky" colspan="2">BRAIN</td>
      
        <td class="tg-0pky" colspan="2">2.98</td>
      
        <td class="tg-0pky" colspan="2">2300</td>
      
        <td class="tg-0pky" colspan="2">3</td>
      
        <td class="tg-0pky" colspan="2">9</td>
      
        <td class="tg-0pky" colspan="2">240</td>
      
        <td class="tg-0pky" colspan="2">1</td>
      
        <td class="tg-0pky" colspan="2">None</td>
      
        <td class="tg-0pky" colspan="2">['GR', 'IR']</td>
      
        <td class="tg-0pky" colspan="2">['SK', 'SP', 'MP']</td>
      
        <td class="tg-0pky" colspan="2">3D</td>
      
        <td class="tg-0pky" colspan="2">255</td>
      
        <td class="tg-0pky" colspan="2">None</td>
      
        <td class="tg-0pky" colspan="2">Left-Right</td>
      
        <td class="tg-0pky" colspan="2">None</td>
      
        <td class="tg-0pky" colspan="2">singleshot</td>
      
        <td class="tg-0pky" colspan="2">None</td>
      
        <td class="tg-0pky" colspan="2">2</td>
      
        <td class="tg-0pky" colspan="2">2</td>
      
        <td class="tg-0pky" colspan="2">True</td>
      
  </tr>

  <tr>
      <td class="tg-0pky" colspan="4">/media/harsh/Baahya/MRI_Datasets/sinhah-20220520_201328/127907/scans/4-rsfMRI_RL/resources/DICOM</td>
      
        <td class="tg-0pky" colspan="2">SIEMENS</td>
      
        <td class="tg-0pky" colspan="2">BRAIN</td>
      
        <td class="tg-0pky" colspan="2">30</td>
      
        <td class="tg-0pky" colspan="2">2500</td>
      
        <td class="tg-0pky" colspan="2">3</td>
      
        <td class="tg-0pky" colspan="2">80</td>
      
        <td class="tg-0pky" colspan="2">2605</td>
      
        <td class="tg-0pky" colspan="2">31</td>
      
        <td class="tg-0pky" colspan="2">None</td>
      
        <td class="tg-0pky" colspan="2">EP</td>
      
        <td class="tg-0pky" colspan="2">SK</td>
      
        <td class="tg-0pky" colspan="2">2D</td>
      
        <td class="tg-0pky" colspan="2">63</td>
      
        <td class="tg-0pky" colspan="2">63.776</td>
      
        <td class="tg-0pky" colspan="2">Left-Right</td>
      
        <td class="tg-0pky" colspan="2">None</td>
      
        <td class="tg-0pky" colspan="2">interleaved</td>
      
        <td class="tg-0pky" colspan="2">0.24888697743690216</td>
      
        <td class="tg-0pky" colspan="2">2</td>
      
        <td class="tg-0pky" colspan="2">4</td>
      
        <td class="tg-0pky" colspan="2">False</td>
      
  </tr>

  <tr>
      <td class="tg-0pky" colspan="4">/media/harsh/Baahya/MRI_Datasets/sinhah-20220520_201328/127907/scans/5-rsfMRI_LR/resources/DICOM</td>
      
        <td class="tg-0pky" colspan="2">SIEMENS</td>
      
        <td class="tg-0pky" colspan="2">BRAIN</td>
      
        <td class="tg-0pky" colspan="2">30</td>
      
        <td class="tg-0pky" colspan="2">2500</td>
      
        <td class="tg-0pky" colspan="2">3</td>
      
        <td class="tg-0pky" colspan="2">80</td>
      
        <td class="tg-0pky" colspan="2">2605</td>
      
        <td class="tg-0pky" colspan="2">31</td>
      
        <td class="tg-0pky" colspan="2">None</td>
      
        <td class="tg-0pky" colspan="2">EP</td>
      
        <td class="tg-0pky" colspan="2">SK</td>
      
        <td class="tg-0pky" colspan="2">2D</td>
      
        <td class="tg-0pky" colspan="2">63</td>
      
        <td class="tg-0pky" colspan="2">63.776</td>
      
        <td class="tg-0pky" colspan="2">Right-Left</td>
      
        <td class="tg-0pky" colspan="2">None</td>
      
        <td class="tg-0pky" colspan="2">interleaved</td>
      
        <td class="tg-0pky" colspan="2">0.24888697743690216</td>
      
        <td class="tg-0pky" colspan="2">2</td>
      
        <td class="tg-0pky" colspan="2">4</td>
      
        <td class="tg-0pky" colspan="2">False</td>
      
  </tr>

  <tr>
      <td class="tg-0pky" colspan="4">/media/harsh/Baahya/MRI_Datasets/sinhah-20220520_201328/127907/scans/6-2D_GRE-MT/resources/DICOM</td>
      
        <td class="tg-0pky" colspan="2">SIEMENS</td>
      
        <td class="tg-0pky" colspan="2">BRAIN</td>
      
        <td class="tg-0pky" colspan="2">3.73</td>
      
        <td class="tg-0pky" colspan="2">465</td>
      
        <td class="tg-0pky" colspan="2">3</td>
      
        <td class="tg-0pky" colspan="2">40</td>
      
        <td class="tg-0pky" colspan="2">350</td>
      
        <td class="tg-0pky" colspan="2">1</td>
      
        <td class="tg-0pky" colspan="2">None</td>
      
        <td class="tg-0pky" colspan="2">GR</td>
      
        <td class="tg-0pky" colspan="2">['MTC', 'SS']</td>
      
        <td class="tg-0pky" colspan="2">2D</td>
      
        <td class="tg-0pky" colspan="2">448</td>
      
        <td class="tg-0pky" colspan="2">None</td>
      
        <td class="tg-0pky" colspan="2">Left-Right</td>
      
        <td class="tg-0pky" colspan="2">None</td>
      
        <td class="tg-0pky" colspan="2">interleaved</td>
      
        <td class="tg-0pky" colspan="2">None</td>
      
        <td class="tg-0pky" colspan="2">2</td>
      
        <td class="tg-0pky" colspan="2">2</td>
      
        <td class="tg-0pky" colspan="2">False</td>
      
  </tr>

  <tr>
      <td class="tg-0pky" colspan="4">/media/harsh/Baahya/MRI_Datasets/sinhah-20220520_201328/127907/scans/7-2D_GRE-MT/resources/DICOM</td>
      
        <td class="tg-0pky" colspan="2">SIEMENS</td>
      
        <td class="tg-0pky" colspan="2">BRAIN</td>
      
        <td class="tg-0pky" colspan="2">3.73</td>
      
        <td class="tg-0pky" colspan="2">465</td>
      
        <td class="tg-0pky" colspan="2">3</td>
      
        <td class="tg-0pky" colspan="2">40</td>
      
        <td class="tg-0pky" colspan="2">350</td>
      
        <td class="tg-0pky" colspan="2">1</td>
      
        <td class="tg-0pky" colspan="2">None</td>
      
        <td class="tg-0pky" colspan="2">GR</td>
      
        <td class="tg-0pky" colspan="2">['MTC', 'SS']</td>
      
        <td class="tg-0pky" colspan="2">2D</td>
      
        <td class="tg-0pky" colspan="2">448</td>
      
        <td class="tg-0pky" colspan="2">None</td>
      
        <td class="tg-0pky" colspan="2">Left-Right</td>
      
        <td class="tg-0pky" colspan="2">None</td>
      
        <td class="tg-0pky" colspan="2">interleaved</td>
      
        <td class="tg-0pky" colspan="2">None</td>
      
        <td class="tg-0pky" colspan="2">2</td>
      
        <td class="tg-0pky" colspan="2">2</td>
      
        <td class="tg-0pky" colspan="2">False</td>
      
  </tr>

  <tr>
      <td class="tg-0pky" colspan="4">/media/harsh/Baahya/MRI_Datasets/sinhah-20220520_201328/127907/scans/8-2D_GRE-MT/resources/DICOM</td>
      
        <td class="tg-0pky" colspan="2">SIEMENS</td>
      
        <td class="tg-0pky" colspan="2">BRAIN</td>
      
        <td class="tg-0pky" colspan="2">3.73</td>
      
        <td class="tg-0pky" colspan="2">465</td>
      
        <td class="tg-0pky" colspan="2">3</td>
      
        <td class="tg-0pky" colspan="2">40</td>
      
        <td class="tg-0pky" colspan="2">350</td>
      
        <td class="tg-0pky" colspan="2">1</td>
      
        <td class="tg-0pky" colspan="2">None</td>
      
        <td class="tg-0pky" colspan="2">GR</td>
      
        <td class="tg-0pky" colspan="2">['MTC', 'SS']</td>
      
        <td class="tg-0pky" colspan="2">2D</td>
      
        <td class="tg-0pky" colspan="2">448</td>
      
        <td class="tg-0pky" colspan="2">None</td>
      
        <td class="tg-0pky" colspan="2">Left-Right</td>
      
        <td class="tg-0pky" colspan="2">None</td>
      
        <td class="tg-0pky" colspan="2">interleaved</td>
      
        <td class="tg-0pky" colspan="2">None</td>
      
        <td class="tg-0pky" colspan="2">2</td>
      
        <td class="tg-0pky" colspan="2">2</td>
      
        <td class="tg-0pky" colspan="2">False</td>
      
  </tr>

  <tr>
      <td class="tg-0pky" colspan="4">/media/harsh/Baahya/MRI_Datasets/sinhah-20220520_201328/127907/scans/9-2D_GRE-MT/resources/DICOM</td>
      
        <td class="tg-0pky" colspan="2">SIEMENS</td>
      
        <td class="tg-0pky" colspan="2">BRAIN</td>
      
        <td class="tg-0pky" colspan="2">3.73</td>
      
        <td class="tg-0pky" colspan="2">465</td>
      
        <td class="tg-0pky" colspan="2">3</td>
      
        <td class="tg-0pky" colspan="2">40</td>
      
        <td class="tg-0pky" colspan="2">350</td>
      
        <td class="tg-0pky" colspan="2">1</td>
      
        <td class="tg-0pky" colspan="2">None</td>
      
        <td class="tg-0pky" colspan="2">GR</td>
      
        <td class="tg-0pky" colspan="2">['MTC', 'SS']</td>
      
        <td class="tg-0pky" colspan="2">2D</td>
      
        <td class="tg-0pky" colspan="2">448</td>
      
        <td class="tg-0pky" colspan="2">None</td>
      
        <td class="tg-0pky" colspan="2">Left-Right</td>
      
        <td class="tg-0pky" colspan="2">None</td>
      
        <td class="tg-0pky" colspan="2">interleaved</td>
      
        <td class="tg-0pky" colspan="2">None</td>
      
        <td class="tg-0pky" colspan="2">2</td>
      
        <td class="tg-0pky" colspan="2">2</td>
      
        <td class="tg-0pky" colspan="2">False</td>
      
  </tr>

</tbody>
</table>

<table class="tg" id="bad_sessions">
<thead>
  <tr>
    <th class="tg-c3ow" colspan="4">Bad Sessions</th>
      
        <th class=""tg=-0pky" colspan="2">manufacturer</th>
      
        <th class=""tg=-0pky" colspan="2">organ</th>
      
        <th class=""tg=-0pky" colspan="2">te</th>
      
        <th class=""tg=-0pky" colspan="2">tr</th>
      
        <th class=""tg=-0pky" colspan="2">b0</th>
      
        <th class=""tg=-0pky" colspan="2">flip_angle</th>
      
        <th class=""tg=-0pky" colspan="2">bwpx</th>
      
        <th class=""tg=-0pky" colspan="2">echo_train_length</th>
      
        <th class=""tg=-0pky" colspan="2">comments</th>
      
        <th class=""tg=-0pky" colspan="2">scanning_sequence</th>
      
        <th class=""tg=-0pky" colspan="2">sequence_variant</th>
      
        <th class=""tg=-0pky" colspan="2">mr_acquisition_type</th>
      
        <th class=""tg=-0pky" colspan="2">phase_encoding_lines</th>
      
        <th class=""tg=-0pky" colspan="2">bwp_phase_encode</th>
      
        <th class=""tg=-0pky" colspan="2">phase_encoding_direction</th>
      
        <th class=""tg=-0pky" colspan="2">multi_band_comment</th>
      
        <th class=""tg=-0pky" colspan="2">slice_order</th>
      
        <th class=""tg=-0pky" colspan="2">effective_echo_spacing</th>
      
        <th class=""tg=-0pky" colspan="2">ipat</th>
      
        <th class=""tg=-0pky" colspan="2">shim_method</th>
      
        <th class=""tg=-0pky" colspan="2">is3d</th>
      
  </tr>
</thead>
<tbody>
    
        
        <tr>
        <td class="tg-0pky" colspan="4"> /media/harsh/Baahya/MRI_Datasets/sinhah-20220520_201328/127907/scans/1-localizer___64_channel_ND/resources/DICOM </td>
        
          <td class="tg-0pky" colspan="2">SIEMENS</td>
        
          <td class="tg-0pky" colspan="2">BRAIN</td>
        
          <td class="tg-0pky" colspan="2">5</td>
        
          <td class="tg-0pky" colspan="2">20</td>
        
          <td class="tg-0pky" colspan="2">3</td>
        
          <td class="tg-0pky" colspan="2">40</td>
        
          <td class="tg-0pky" colspan="2">180</td>
        
          <td class="tg-0pky" colspan="2">1</td>
        
          <td class="tg-0pky" colspan="2">None</td>
        
          <td class="tg-0pky" colspan="2">GR</td>
        
          <td class="tg-0pky" colspan="2">SP</td>
        
          <td class="tg-0pky" colspan="2">2D</td>
        
          <td class="tg-0pky" colspan="2">192</td>
        
          <td class="tg-0pky" colspan="2">None</td>
        
          <td class="tg-0pky" colspan="2">Left-Right</td>
        
          <td class="tg-0pky" colspan="2">None</td>
        
          <td class="tg-0pky" colspan="2">sequential</td>
        
          <td class="tg-0pky" colspan="2">None</td>
        
          <td class="tg-0pky" colspan="2">1</td>
        
          <td class="tg-0pky" colspan="2">1</td>
        
          <td class="tg-0pky" colspan="2">False</td>
        
        </tr>

            
            <tr>
              }
            </tr>
             
            <tr>
              }
            </tr>
             
            <tr>
              }
            </tr>
             
            <tr>
              }
            </tr>
             
            <tr>
              }
            </tr>
             
            <tr>
              }
            </tr>
             
            <tr>
              
              <td class="tg-0pky" colspan="4">1.3.12.2.1107.5.2.43.167092.30000022021513453269300000010-1-7-1m2vrct.dcm</td>
              
                <td class="tg-0pky" colspan="2">SIEMENS</td>
              
                <td class="tg-0pky" colspan="2">BRAIN</td>
              
                <td class="tg-0pky" colspan="2">5</td>
              
                <td class="tg-0pky" colspan="2">20</td>
              
                <td class="tg-0pky" colspan="2">3</td>
              
                <td class="tg-0pky" colspan="2">40</td>
              
                <td class="tg-0pky" colspan="2">180</td>
              
                <td class="tg-0pky" colspan="2">1</td>
              
                <td class="tg-0pky" colspan="2">None</td>
              
                <td class="tg-0pky" colspan="2">GR</td>
              
                <td class="tg-0pky" colspan="2">SP</td>
              
                <td class="tg-0pky" colspan="2">2D</td>
              
                <td class="tg-0pky" colspan="2">192</td>
              
                <td class="tg-0pky" colspan="2">None</td>
              
                <td class="tg-0pky" colspan="2">Anterior-Posterior</td>
              
                <td class="tg-0pky" colspan="2">None</td>
              
                <td class="tg-0pky" colspan="2">sequential</td>
              
                <td class="tg-0pky" colspan="2">None</td>
              
                <td class="tg-0pky" colspan="2">1</td>
              
                <td class="tg-0pky" colspan="2">1</td>
              
                <td class="tg-0pky" colspan="2">False</td>
              
              }
            </tr>
             
            <tr>
              
              <td class="tg-0pky" colspan="4">1.3.12.2.1107.5.2.43.167092.30000022021513453269300000010-1-8-nwrxhv.dcm</td>
              
                <td class="tg-0pky" colspan="2">SIEMENS</td>
              
                <td class="tg-0pky" colspan="2">BRAIN</td>
              
                <td class="tg-0pky" colspan="2">5</td>
              
                <td class="tg-0pky" colspan="2">20</td>
              
                <td class="tg-0pky" colspan="2">3</td>
              
                <td class="tg-0pky" colspan="2">40</td>
              
                <td class="tg-0pky" colspan="2">180</td>
              
                <td class="tg-0pky" colspan="2">1</td>
              
                <td class="tg-0pky" colspan="2">None</td>
              
                <td class="tg-0pky" colspan="2">GR</td>
              
                <td class="tg-0pky" colspan="2">SP</td>
              
                <td class="tg-0pky" colspan="2">2D</td>
              
                <td class="tg-0pky" colspan="2">192</td>
              
                <td class="tg-0pky" colspan="2">None</td>
              
                <td class="tg-0pky" colspan="2">Anterior-Posterior</td>
              
                <td class="tg-0pky" colspan="2">None</td>
              
                <td class="tg-0pky" colspan="2">sequential</td>
              
                <td class="tg-0pky" colspan="2">None</td>
              
                <td class="tg-0pky" colspan="2">1</td>
              
                <td class="tg-0pky" colspan="2">1</td>
              
                <td class="tg-0pky" colspan="2">False</td>
              
              }
            </tr>
             
            <tr>
              
              <td class="tg-0pky" colspan="4">1.3.12.2.1107.5.2.43.167092.30000022021513453269300000010-1-9-rfmclx.dcm</td>
              
                <td class="tg-0pky" colspan="2">SIEMENS</td>
              
                <td class="tg-0pky" colspan="2">BRAIN</td>
              
                <td class="tg-0pky" colspan="2">5</td>
              
                <td class="tg-0pky" colspan="2">20</td>
              
                <td class="tg-0pky" colspan="2">3</td>
              
                <td class="tg-0pky" colspan="2">40</td>
              
                <td class="tg-0pky" colspan="2">180</td>
              
                <td class="tg-0pky" colspan="2">1</td>
              
                <td class="tg-0pky" colspan="2">None</td>
              
                <td class="tg-0pky" colspan="2">GR</td>
              
                <td class="tg-0pky" colspan="2">SP</td>
              
                <td class="tg-0pky" colspan="2">2D</td>
              
                <td class="tg-0pky" colspan="2">192</td>
              
                <td class="tg-0pky" colspan="2">None</td>
              
                <td class="tg-0pky" colspan="2">Anterior-Posterior</td>
              
                <td class="tg-0pky" colspan="2">None</td>
              
                <td class="tg-0pky" colspan="2">sequential</td>
              
                <td class="tg-0pky" colspan="2">None</td>
              
                <td class="tg-0pky" colspan="2">1</td>
              
                <td class="tg-0pky" colspan="2">1</td>
              
                <td class="tg-0pky" colspan="2">False</td>
              
              }
            </tr>
             
        
    
        
        <tr>
        <td class="tg-0pky" colspan="4"> /media/harsh/Baahya/MRI_Datasets/sinhah-20220520_201328/127907/scans/2-localizer___64_channel/resources/DICOM </td>
        
          <td class="tg-0pky" colspan="2">SIEMENS</td>
        
          <td class="tg-0pky" colspan="2">BRAIN</td>
        
          <td class="tg-0pky" colspan="2">5</td>
        
          <td class="tg-0pky" colspan="2">20</td>
        
          <td class="tg-0pky" colspan="2">3</td>
        
          <td class="tg-0pky" colspan="2">40</td>
        
          <td class="tg-0pky" colspan="2">180</td>
        
          <td class="tg-0pky" colspan="2">1</td>
        
          <td class="tg-0pky" colspan="2">None</td>
        
          <td class="tg-0pky" colspan="2">GR</td>
        
          <td class="tg-0pky" colspan="2">SP</td>
        
          <td class="tg-0pky" colspan="2">2D</td>
        
          <td class="tg-0pky" colspan="2">192</td>
        
          <td class="tg-0pky" colspan="2">None</td>
        
          <td class="tg-0pky" colspan="2">Left-Right</td>
        
          <td class="tg-0pky" colspan="2">None</td>
        
          <td class="tg-0pky" colspan="2">sequential</td>
        
          <td class="tg-0pky" colspan="2">None</td>
        
          <td class="tg-0pky" colspan="2">1</td>
        
          <td class="tg-0pky" colspan="2">1</td>
        
          <td class="tg-0pky" colspan="2">False</td>
        
        </tr>

            
            <tr>
              }
            </tr>
             
            <tr>
              }
            </tr>
             
            <tr>
              }
            </tr>
             
            <tr>
              }
            </tr>
             
            <tr>
              }
            </tr>
             
            <tr>
              }
            </tr>
             
            <tr>
              
              <td class="tg-0pky" colspan="4">1.3.12.2.1107.5.2.43.167092.30000022021513453269300000010-2-7-1wkzad8.dcm</td>
              
                <td class="tg-0pky" colspan="2">SIEMENS</td>
              
                <td class="tg-0pky" colspan="2">BRAIN</td>
              
                <td class="tg-0pky" colspan="2">5</td>
              
                <td class="tg-0pky" colspan="2">20</td>
              
                <td class="tg-0pky" colspan="2">3</td>
              
                <td class="tg-0pky" colspan="2">40</td>
              
                <td class="tg-0pky" colspan="2">180</td>
              
                <td class="tg-0pky" colspan="2">1</td>
              
                <td class="tg-0pky" colspan="2">None</td>
              
                <td class="tg-0pky" colspan="2">GR</td>
              
                <td class="tg-0pky" colspan="2">SP</td>
              
                <td class="tg-0pky" colspan="2">2D</td>
              
                <td class="tg-0pky" colspan="2">192</td>
              
                <td class="tg-0pky" colspan="2">None</td>
              
                <td class="tg-0pky" colspan="2">Anterior-Posterior</td>
              
                <td class="tg-0pky" colspan="2">None</td>
              
                <td class="tg-0pky" colspan="2">sequential</td>
              
                <td class="tg-0pky" colspan="2">None</td>
              
                <td class="tg-0pky" colspan="2">1</td>
              
                <td class="tg-0pky" colspan="2">1</td>
              
                <td class="tg-0pky" colspan="2">False</td>
              
              }
            </tr>
             
            <tr>
              
              <td class="tg-0pky" colspan="4">1.3.12.2.1107.5.2.43.167092.30000022021513453269300000010-2-8-1c1u91u.dcm</td>
              
                <td class="tg-0pky" colspan="2">SIEMENS</td>
              
                <td class="tg-0pky" colspan="2">BRAIN</td>
              
                <td class="tg-0pky" colspan="2">5</td>
              
                <td class="tg-0pky" colspan="2">20</td>
              
                <td class="tg-0pky" colspan="2">3</td>
              
                <td class="tg-0pky" colspan="2">40</td>
              
                <td class="tg-0pky" colspan="2">180</td>
              
                <td class="tg-0pky" colspan="2">1</td>
              
                <td class="tg-0pky" colspan="2">None</td>
              
                <td class="tg-0pky" colspan="2">GR</td>
              
                <td class="tg-0pky" colspan="2">SP</td>
              
                <td class="tg-0pky" colspan="2">2D</td>
              
                <td class="tg-0pky" colspan="2">192</td>
              
                <td class="tg-0pky" colspan="2">None</td>
              
                <td class="tg-0pky" colspan="2">Anterior-Posterior</td>
              
                <td class="tg-0pky" colspan="2">None</td>
              
                <td class="tg-0pky" colspan="2">sequential</td>
              
                <td class="tg-0pky" colspan="2">None</td>
              
                <td class="tg-0pky" colspan="2">1</td>
              
                <td class="tg-0pky" colspan="2">1</td>
              
                <td class="tg-0pky" colspan="2">False</td>
              
              }
            </tr>
             
            <tr>
              
              <td class="tg-0pky" colspan="4">1.3.12.2.1107.5.2.43.167092.30000022021513453269300000010-2-9-1mb7ku0.dcm</td>
              
                <td class="tg-0pky" colspan="2">SIEMENS</td>
              
                <td class="tg-0pky" colspan="2">BRAIN</td>
              
                <td class="tg-0pky" colspan="2">5</td>
              
                <td class="tg-0pky" colspan="2">20</td>
              
                <td class="tg-0pky" colspan="2">3</td>
              
                <td class="tg-0pky" colspan="2">40</td>
              
                <td class="tg-0pky" colspan="2">180</td>
              
                <td class="tg-0pky" colspan="2">1</td>
              
                <td class="tg-0pky" colspan="2">None</td>
              
                <td class="tg-0pky" colspan="2">GR</td>
              
                <td class="tg-0pky" colspan="2">SP</td>
              
                <td class="tg-0pky" colspan="2">2D</td>
              
                <td class="tg-0pky" colspan="2">192</td>
              
                <td class="tg-0pky" colspan="2">None</td>
              
                <td class="tg-0pky" colspan="2">Anterior-Posterior</td>
              
                <td class="tg-0pky" colspan="2">None</td>
              
                <td class="tg-0pky" colspan="2">sequential</td>
              
                <td class="tg-0pky" colspan="2">None</td>
              
                <td class="tg-0pky" colspan="2">1</td>
              
                <td class="tg-0pky" colspan="2">1</td>
              
                <td class="tg-0pky" colspan="2">False</td>
              
              }
            </tr>
             
        
    
        
    
</tbody>
</table>


<table class="tg" id="invalid_sessions">
<thead>
  <tr>
    <th class="tg-c3ow" colspan="4">Invalid Sessions</th>
<!--      -->
<!--        <th class="tg-0pky" colspan="2">manufacturer</th>-->
<!--      -->
<!--        <th class="tg-0pky" colspan="2">organ</th>-->
<!--      -->
<!--        <th class="tg-0pky" colspan="2">te</th>-->
<!--      -->
<!--        <th class="tg-0pky" colspan="2">tr</th>-->
<!--      -->
<!--        <th class="tg-0pky" colspan="2">b0</th>-->
<!--      -->
<!--        <th class="tg-0pky" colspan="2">flip_angle</th>-->
<!--      -->
<!--        <th class="tg-0pky" colspan="2">bwpx</th>-->
<!--      -->
<!--        <th class="tg-0pky" colspan="2">echo_train_length</th>-->
<!--      -->
<!--        <th class="tg-0pky" colspan="2">comments</th>-->
<!--      -->
<!--        <th class="tg-0pky" colspan="2">scanning_sequence</th>-->
<!--      -->
<!--        <th class="tg-0pky" colspan="2">sequence_variant</th>-->
<!--      -->
<!--        <th class="tg-0pky" colspan="2">mr_acquisition_type</th>-->
<!--      -->
<!--        <th class="tg-0pky" colspan="2">phase_encoding_lines</th>-->
<!--      -->
<!--        <th class="tg-0pky" colspan="2">bwp_phase_encode</th>-->
<!--      -->
<!--        <th class="tg-0pky" colspan="2">phase_encoding_direction</th>-->
<!--      -->
<!--        <th class="tg-0pky" colspan="2">multi_band_comment</th>-->
<!--      -->
<!--        <th class="tg-0pky" colspan="2">slice_order</th>-->
<!--      -->
<!--        <th class="tg-0pky" colspan="2">effective_echo_spacing</th>-->
<!--      -->
<!--        <th class="tg-0pky" colspan="2">ipat</th>-->
<!--      -->
<!--        <th class="tg-0pky" colspan="2">shim_method</th>-->
<!--      -->
<!--        <th class="tg-0pky" colspan="2">is3d</th>-->
<!--      -->
  </tr>
</thead>
<tbody>

  

  

  
  <tr>
      <td class="tg-0pky" colspan="4">/media/harsh/Baahya/MRI_Datasets/sinhah-20220520_201328/127907/scans/99-PhoenixZIPReport/resources/DICOM</td>
<!--      -->
  </tr>
  

</tbody>
</table>


</body>
</html>