<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h2>Protocol Compliance Report - Pitt MRRC</h2>
     {{ national_pivot_table }}
    <table class="tg" style="width: 708px; float: left;" border="FFFFFF">
	<thead>
		<tr style="height: 23px;">
			<th class="tg-c3ow" style="width: 435px; height: 23px; text-align: center;" colspan="4">Report Documentation Page</th>
			<th class="tg-0pky" style="width: 261px; height: 23px;" colspan="2">No.</th>
		</tr>
	</thead>
	<tbody>
		<tr style="height: 23.5px;">
			<td class="tg-0pky" style="width: 205px; height: 23.5px; text-align: center;" colspan="2">
				<p>1. REPORT DATE</p>
				<p>March 23, 2022</p>
			</td>
			<td class="tg-0pky" style="width: 230px; height: 23.5px; text-align: center;" colspan="2">
				<p>2. REPORT TYPE</p>
				<p>Protocol Compliance</p>
			</td>
			<td class="tg-0pky" style="width: 261px; height: 23.5px;" colspan="2">
				<p>3. CLASSIFICATION OF REPORT</p>
				<p>&nbsp;</p>
			</td>
		</tr>
		<tr style="height: 23px;">
			<td class="tg-0lax" style="width: 435px; height: 69px; text-align: center;" colspan="4" rowspan="3">
				<p>4. PROJECT TITLE</p>
				<p>CHA-JFF</p>
			</td>
			<td class="tg-0lax" style="width: 261px; height: 23px;" colspan="2">
				<p>5a. Project Principal Investigator</p>
				<p>Dr. A Williams</p>
			</td>
		</tr>
		<tr style="height: 23px;">
			<td class="tg-0pky" style="width: 261px; height: 23px;" colspan="2">
				<p>5b. Project Period</p>
				<p>Jun 2018 - Dec 2022</p>
			</td>
		</tr>
		<tr style="height: 23px;">
			<td class="tg-0lax" style="width: 261px; height: 23px;" colspan="2">
				<p>5c. Project Type</p>
				<p>MR Longitudnal Study</p>
			</td>
		</tr>
		<tr style="height: 23px;">
			<td class="tg-0lax" style="width: 435px; height: 46px;" colspan="4" rowspan="2">
				<p>6. PERFORMING ORGANIZATION</p>
				<p>The MR-Research Center at the University of Pittsburgh</p>
			</td>
			<td class="tg-0lax" style="width: 261px; height: 23px;" colspan="2">
				<p>7.&nbsp;ORG. Property 1</p>
				<p>ABC</p>
			</td>
		</tr>
		<tr style="height: 23px;">
			<td class="tg-0lax" style="width: 261px; height: 23px;" colspan="2">
				<p>8. Org. Property 2</p>
				<p>XYZ</p>
			</td>
		</tr>
		<tr style="height: 23px;">
			<td class="tg-0lax" style="width: 435px; height: 23px;" colspan="4">
				<p>9. SPONSORING AGENCY</p>
				<p>University of Pittsburgh</p>
			</td>
			<td class="tg-0lax" style="width: 261px; height: 23px;" colspan="2">
				<p>10. Sponsor Property 1</p>
				<p>UPitt</p>
			</td>
		</tr>
		<tr style="height: 23px;">
			<td class="tg-0lax" style="width: 435px; height: 23px;" colspan="4">
				<p>11. DISTRIBUTION/AVAILABILITY STATEMENT</p>
				<p>Protected Data was produced under ABC/12-234455</p>
			</td>
			<td class="tg-0lax" style="width: 261px; height: 23px;" colspan="2">&nbsp;</td>
		</tr>
		<tr style="height: 23px;">
			<td class="tg-0lax" style="width: 435px; height: 23px;" colspan="4">
				<p>12. SUPPLEMENTARY NOTES</p>
				<p>Lorem ipsum dolor sit amet</p>
			</td>
			<td class="tg-0lax" style="width: 261px; height: 23px;" colspan="2">&nbsp;</td>
		</tr>
		<tr style="height: 23px;">
			<td class="tg-0lax" style="width: 696px; height: 23px;" colspan="6">
				<p>13. ADDITIONAL NOTE</p>
				<p>Lorem ipsum dolor sit amet</p>
			</td>
		</tr>
		<tr style="height: 23px;">
			<td class="tg-0lax" style="width: 696px; height: 23px;" colspan="6">
				<p>14. ADDITIONAL NOTE</p>
				<p>Lorem ipsum dolor sit amet</p>
			</td>
		</tr>
		<tr style="height: 23px;">
			<td class="tg-0lax" style="width: 696px; height: 23px;" colspan="6">
				<p>15. ADDITIONAL NOTE</p>
				<p>Lorem ipsum dolor sit amet</p>
			</td>
		</tr>
		<tr style="height: 23px;">
			<td class="tg-0pky" style="width: 317px; height: 23px;" colspan="3">16. SECURITY CLASSIFICATION OF</td>
			<td class="tg-0pky" style="width: 118px; height: 66px;" rowspan="2">
				<p>17. LIMITATIONS</p>
				<p>Lorem ipsum dolor sit amet</p>
			</td>
			<td class="tg-0pky" style="width: 165px; height: 66px;" rowspan="2">
				<p>18. NUMBER OF PAGES</p>
				<p>Lorem ipsum dolor sit amet</p>
			</td>
			<td class="tg-0lax" style="width: 96px; height: 66px;" rowspan="2">
				<p>&nbsp;</p>
				<p>19. CONTACT</p>
				<p>Corresponding Researcher&nbsp;</p>
				<p>&nbsp;</p>
			</td>
		</tr>
		<tr style="height: 43px;">
			<td class="tg-0lax" style="width: 96.3438px; height: 43px;">
				<p>16a. REPORT</p>
				<p>Lorem ipsum&nbsp;</p>
			</td>
			<td class="tg-0lax" style="width: 108.656px; height: 43px;">
				<p>16b. THIS PAGE</p>
				<p>Lorem ipsum&nbsp;</p>
			</td>
			<td class="tg-0lax" style="width: 112px; height: 43px;">
				<p>16c. PROJECT</p>
				<p>Lorem ipsum</p>
			</td>
		</tr>
	</tbody>
</table>
</body>
</html>


